.bg-center {
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.bg-black {
  background-color: black;
}

@for $i from 1 through 5 {
  .bg-img#{$i} {
    background-image: url("../img/img#{$i}.jpg");
  }
}

.bg-img5 {
  background-image:
    linear-gradient(to left, rgba(255, 255, 255, 0.6) 0%, transparent 50%),
    url("../img/img5.jpg");
}