.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.direction-column {
  flex-direction: column;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-container {
  >* {
    width: 100%;
  }
}