@for $i from 0 through 100 {
  .w-#{$i} {
    width: calc($i * 1%);
  }

  .h-#{$i} {
    height: calc($i * 1%);
  }
}

.float-right {
  float: right;
}

.grid {
  display: grid;

  &.center {
    place-items: center;
  }
}

@for $i from 0 through 10 {
  .gap-#{$i} {
    gap: calc($i * 0.25em);
  }
}

.hidden {
  display: none !important;
}

.large-title,
.larger-title {
  padding-block: 4em;

  h2,
  p {
    margin-bottom: 0.75em;
  }

  h2 {
    font-size: 2.1rem;
    margin-bottom: 0.75em;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.larger-title {
  font-size: 1.05rem;
}

@import "font";
@import "flex";
@import "color";
@import "background";
@import "margin";
@import "padding";