@media only screen and (orientation: portrait) {
  [class^=col-] {
    width: 100% !important;
  }

  @for $i from 0 through 100 {
    .w-portrait-#{$i} {
      width: calc($i * 1%);
    }

    .h-portrait-#{$i} {
      height: calc($i * 1%);
    }
  }

  .direction-column-portrait {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .row {
    flex-wrap: wrap;
  }

  .nav-dropdown>ul {
    width: 100%;
  }

  .figure-block {
    margin-left: 20%;
  }

  .footer-cols {
    flex-flow: column wrap;
    gap: 2em;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --bg-clr-transparency: 0.3;
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    font-size: 14px;
  }

  .bg-img5 {
    background-position-x: left;
  }
}

@media only screen and (max-width: 30px) {
  :root {
    font-size: 12px;
  }
}